//.site-nav {
//  // Hide default header
//  display: none;
//}

@import './category-visualization.less';
@import './header.less';
@import './summary.less';

// Override `budgetkey-ng2-components` style
.app {

  margin-bottom: 50px;

  &:not(root):after {
    content: none;
  }

}


.description {
  display: flex;
  //align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  margin-top: 40px;
  transition: opacity 150ms ease-out 0ms;

  & > span, & > div {
    max-width: 720px;
    flex: 0 0 auto;
    font-size: 24px;
    color: #FF5A5F;
    text-align: justify;
  }
}

.course {
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  border-radius: 2em 2em 0 2em;
  background: #F2F2F2;
  font-size: 3em;
  color:  black;

  .scroll-down{
    flex: 0 0 auto;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    svg {
      display: block;

      path {
        fill: #ff6666;
      }
    }
  }
}

.map-container {
  width: 100%;
  height: 500px;
  margin: 80px 0 40px 0;
}

.sticky {

  height: 8000px;
  padding-bottom: 20px;

  .sticky-wrapper {
    height: auto;
    position: sticky;

    .text-center {
      width: auto;
      overflow-x: hidden;
      white-space: nowrap;

      .description, .chart {
        display: inline-block;
      }
    }

    &.subtitles {
      display: block;
      min-height: 4em;
      font-size: 1.5em;
      color: #FF5A5F;
      top: calc(~"100vh - 880px");
      margin-top: -220px;

      .speech-bubble:nth-of-type(1) {
        opacity: 0.05;
      }

      .speech-bubble:nth-of-type(2) {
        opacity: 0.2;
      }

      //.speech-bubble:nth-of-type(3) {
      //  opacity: 0.2;
      //}

      .subtitles-wrapper {
        position: relative;
        height: 500px;

        .inner-subtitles-wrapper {
          position: absolute;
          bottom: 0;
          width: 600px;
          right: 50%;
          margin-right: -300px;
        }
      }
    }

    &.chart {
      display: block;
      top: calc(~"100vh - 450px");
      direction: rtl;
      width: 80%;
      margin-right: 10%;
      height: 450px;

      .expenses {
        stroke: lightblue;
        text-anchor: end !important;
      }

      .income {
        stroke: skyblue;
        text-anchor: start !important;
      }

      .deficit {
        stroke: violet;
        text-anchor: start !important;
      }

      .debt {
        stroke: darkviolet;
        text-anchor: end !important;
      }

      .supports {
        stroke: lightgreen;
        stroke-dasharray: 10,1;
        text-anchor: end !important;
      }

      .centerpiece-text {
        fill: white;
      }

      .centerpiece {
        fill: navyblue;
      }
    }
  }

}

.footer {
  //position: absolute;
  //bottom: 10px;
  //height: 200px;
  text-align: center;
  width: 100%;
}


.after {
  border: beige solid 1px;
}


div.speech-bubble {
  position: relative;
  border-radius: .4em;
  padding: 0.5em 0.75em;
  margin-bottom: 0.5em;
  width: 400px;
  right: 50%;
  text-align: right;
  font-size: 20px;
  transition-duration: 0.5s;
  transition-property: opacity;

  a {
    text-decoration: underline;
    color: white;
  }

  a:hover {
    color: lightblue;
  }

  &.enter {
    animation: bubble_enter 0.5s;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -0.32em;
    width: 0;
    height: 0;
    border: .5em solid transparent;
  }

  &.question {
    color: black;
    margin-right: -250px;
    border-radius: 1em 1em 0 1em;
    background: #F2F2F2;
    transition: margin-right 0.5s;

    &:after {
      right: 0;
      border-left-color: #F2F2F2;
      border-right: 0;
      margin-left: -0.3em;
      transform: rotate(135deg);
    }
  }

  &.answer {
    color: white;
    background: #ff6666;
    margin-right: -150px;
    border-radius: 1em 1em 1em 0;

    &:after {
      left: 0;
      border-right-color: #ff6666;
      border-left: 0;
      margin-left: -0.3em;
      transform: rotate(-135deg);
    }
  }

  @keyframes bubble_enter {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

}

.category-visualizations {
  display: inline-block;
  max-width: 1250px;
}

.graph-bg {
  background-image: linear-gradient(90deg, rgba(110, 196, 190, 0.2) 1px, transparent 1px), linear-gradient(rgba(110, 196, 190, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}
