<div class="sticky step graph-bg text-center" data-id="hero">
    <div class="sticky-wrapper subtitles"
         [style.opacity]="textOpacity"
         [style.z-index]="100">
        <div class="subtitles-wrapper">
            <div class="inner-subtitles-wrapper"
                 [style.bottom]="dialogOfs + 'px'">
                <div class="dialogLine speech-bubble" *ngFor="let text of dialogLines"
                     [class.question]="text.direction == 'question'"
                     [class.answer]="text.direction == 'answer'"
                     [class.enter]="text['last']"
                     [style.display]="text.content ? 'inherit' : 'none'"
                     [innerHtml]="text.content || ''"
                >
                </div>
            </div>
        </div>
    </div>
    <div #mushonkeyWrapper
         class="sticky-wrapper chart"
         [style.opacity]="chartOpacity">
        <mushonkey #mushonkey [chart]="chart" *ngIf="chart">

        </mushonkey>
    </div>

    <div class="footer text-center">
        <div class="dialogLine speech-bubble question">יש לי עדיין שאלות, למי לפנות?</div>
        <div class="dialogLine speech-bubble answer">
            <a href="mailto:adam@obudget.org"
               target="_blank">
                אם זו שאלה כללית שקשורה לתקציב נשמח לעזור
            </a>
        </div>
        <div class="dialogLine speech-bubble answer">
            <a href="http://www.hasadna.org.il/about-us/"
               target="_blank">
                אם זו שאלה שקשורה לסדנא לידע ציבורי
            </a>
        </div>
        <div class="dialogLine speech-bubble answer">
            <a href="http://www.hasadna.org.il/%D7%A6%D7%95%D7%A8-%D7%A7%D7%A9%D7%A8/"
               target="_blank">
                אם את/ה עיתונאי/ת
            </a>
        </div>
        <div class="dialogLine speech-bubble question">איך אפשר לעזור לכם?</div>
        <div class="dialogLine speech-bubble answer">
            <a href="http://www.hasadna.org.il/%D7%AA%D7%A8%D7%95%D7%9E%D7%94-2/"
               target="_blank">
                אפשר לתרום לנו...
            </a>
        </div>
        <div class="dialogLine speech-bubble answer">
            <a href="http://www.hasadna.org.il/%D7%94%D7%AA%D7%A0%D7%93%D7%91%D7%95%D7%AA/"
               target="_blank">
                או לבוא להתנדב
            </a>
        </div>
        <div class="dialogLine speech-bubble answer">
            <a href="https://github.com/OpenBudget/BudgetKey"
               target="_blank">
                או לשחק עם הקוד של האתר
            </a>
        </div>
    </div>
</div>
