<div class="sticky step graph-bg text-center" data-id="hero">
    <div class="sticky-wrapper subtitles"
         [style.opacity]="textOpacity">
        <div class="subtitles-wrapper">
            <div class="inner-subtitles-wrapper"
                 [style.bottom]="dialogOfs + 'px'">
                <div class="dialogLine speech-bubble" *ngFor="let text of dialogLines"
                     [class.question]="text.direction == 'question'"
                     [class.answer]="text.direction == 'answer'"
                     [class.enter]="text['last']"
                     [style.display]="text.content ? 'inherit' : 'none'"
                     [innerHtml]="text.content || ''"
                >
                </div>
            </div>
        </div>
    </div>
    <div #mushonkeyWrapper
         class="sticky-wrapper chart"
         [style.opacity]="chartOpacity">
        <mushonkey #mushonkey [chart]="chart" *ngIf="chart">

        </mushonkey>
    </div>

    <div class="footer">
        <div>
            <a href="mailto:adam@obudget.org"
               class="button"
               target="_blank">
                יש לי שאלה שקשורה לתקציב ואשמח לעזרתכם
            </a>
            <br/>
            <a href="http://www.hasadna.org.il/%D7%A6%D7%95%D7%A8-%D7%A7%D7%A9%D7%A8/"
               class="button"
               target="_blank">
                אני עיתונאי/ת
            </a>
        </div>
        <div>
            <a href="http://www.hasadna.org.il/about-us/"
               class="button"
               target="_blank">
                יש לי שאלה שקשורה לסדנא לידע ציבורי
            </a>
            <br/>
            <a href="http://www.hasadna.org.il/%D7%AA%D7%A8%D7%95%D7%9E%D7%94-2/"
               class="button"
               target="_blank">
                איך אפשר לתרום לכם?
            </a>
        </div>
    </div>
</div>
