<div class="hero" #hero>
    <div class="hero-wrapper">
        <div #mushonkeyWrapper
            class="chart"
            [style.opacity]="chartOpacity">
            <mushonkey #mushonkey [chart]="chart" *ngIf="chart">

            </mushonkey>
        </div>
        <div class="subtitles"
            [style.opacity]="textOpacity">
            <div class="subtitles-wrapper">
                <div class="inner-subtitles-wrapper"
                    [style.bottom]="dialogOfs + 'px'">
                    <ng-container *ngFor="let text of dialogLines">
                        <speech-bubble
                            [kind]='text.direction'
                            [content]="text.content || ''"
                            [enter]="text['last']"
                            [style.display]="text.content ? 'inherit' : 'none'"
                        ></speech-bubble>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>